@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT Sans';
}

#head{
    display: grid;
    height: 18vh;
    grid-template-areas: 'nav'
                        'menu';
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1fr;
}

#head nav{
    position: fixed;
    width: 100%;
    height: 10vh;
    grid-area: nav;
    background: #162442;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    font-weight: bold;
    color:rgba(255, 165, 0, 1);
    padding: 0 5%;
}

#head nav #logo{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: x-large;
}

#head nav .cart{
    margin-right: 10%;
}

#head nav #profile{
    display: flex;
    justify-content: end;
    align-items: center;
}
#head nav #profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

#head #menu{
    grid-area: menu;
    background-color: rgba(255, 165, 0, 1);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20%;
}

#select-menu > form{
    display: flex;
    list-style: none;
    margin: 0 10%;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    color: white;
}

#head #menu #select-menu form #option{
    cursor: pointer;
    width: 50%;
    border-style: none;
    text-align: center;
    background-color: gainsboro;
    border-radius: 10%;
    margin: 4%;
    font-weight: bold;
    color: rgba(255, 165, 0, 1);
}

#head #menu #search{
    display: flex;
    justify-content: start;
    align-items: center;
}

#head #menu #search input{
    border-style: none;
    background-color: gainsboro;
    width: 70%;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 20px;
}
#head #menu #search button{
    border-style: none;
    background-color: gainsboro;
    height: 30px;
    width: 10%;
    border-radius: 0px 10px 10px 0px;
}


#content{
    background-color: #162442;
    min-height: 100vh;
}

#content .title{
    color: rgba(255, 165, 0, 1);
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

#addHero,#addProduct{
	color: white;
	background: rgba(255, 165, 0, 1);
	box-shadow: inset 0 0 0 2px #140f07;
	transform: translateX(30%);
    width: max-content;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
    border-style: none;
    font-weight: bold;
}

#content #list-hero{
    width: 100%;
    padding: 5% 10%;
    justify-content: center;
    justify-items: center;
}
#list-hero{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    grid-gap: 30px;
}
#list-hero .card{
    border-radius: 30px;
    padding: 20px;
    width: minmax(320px,1fr);
    height: 230px;
    box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    -webkit-box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    -moz-box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    text-align: center;
}
#list-hero .card img{
    width: minmax(320px,1fr);
    height: 15vh;
}

#list-product{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    grid-gap: 30px;
    justify-items: center;
    padding: 5vh 5%;
}

#list-product .card{
    border-radius: 30px;
    padding: 20px;
    width: minmax(320px,1fr);
    height: 380px;
    box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    -webkit-box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    -moz-box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    display: grid;
    grid-template-areas: 'gambar-product detail-product'
                         'action-product detail-product';
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 5fr 1fr;
    color: aliceblue;
}

#list-product .card img{
    grid-area: gambar-product;
    width: 150px;
    height: 150px;
}

#list-product .card .detail{
    grid-area: detail-product;
    padding: 10px;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 999;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

.modal-content{
    background-color: #162442;
    width: 50%;
    height: max-content;
    margin: auto;
    padding: 5vh 2%;
}