@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT Sans';
}

#head{
    display: grid;
    height: 54vh;
    grid-template-areas: 'nav'
                        'hiro'
                        'menu';
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 7fr 1fr;
}

#head nav{
    position: fixed;
    width: 100%;
    height: 10vh;
    grid-area: nav;
    background: #162442;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    font-weight: bold;
    color:rgba(255, 165, 0, 1);
    padding: 0 5%;
}

#head nav #logo{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: x-large;
}

#head nav .cart{
    margin-right: 10%;
}

#head nav #profile{
    display: flex;
    justify-content: end;
    align-items: center;
}
#head nav #profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

#head #hiro{
    grid-area: hiro;
    background: white;
}

#head #menu{
    grid-area: menu;
    background-color: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20%;
}

#head #menu #categories{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-weight: bold;
    font-size: medium;
}

#head #menu #categories > .category{
    cursor: pointer;
}

#head #menu #categories > .active{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #162442;
    width: 20%;
    padding-top: 5px;
    color: rgba(255, 165, 0, 1);
    border-radius: 10px 10px 0px 0px;
}

#head #menu #search{
    display: flex;
    justify-content: start;
    align-items: center;
}

#head #menu #search input{
    border-style: none;
    background-color: gainsboro;
    width: 70%;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 20px;
}
#head #menu #search button{
    border-style: none;
    background-color: gainsboro;
    height: 30px;
    width: 10%;
    border-radius: 0px 10px 10px 0px;
}


#content{
    background-color: #162442;
}

#content .title{
    color: rgba(255, 165, 0, 1);
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

#content .list-product{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5% 10%;
}

#content .list-product .product{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-gap: 50px;
}

#content .list-product .product .card{
    border-radius: 30px;
    padding: 20px;
    width: 200px;
    height: 230px;
    box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    -webkit-box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    -moz-box-shadow: 1px 3px 30px -6px rgba(242,242,242,0.62);
    text-align: center;
}

#content .list-product .product .card img{
    width: 130px;
    height: 130px;
    margin-bottom: 5px;
}

#content .list-product .product .card .card-title{
    color: rgba(255, 165, 0, 1);
    font-weight: bold;
    text-align: center;
    font-size: medium;
    margin-bottom: 5px;
}

#content .list-product .product .card .card-action .harga{
    color: rgba(255, 165, 0, 1);
    font-weight: bold;
    text-align: center;
    font-size: small;
}

#content .list-product .product .card .card-action button{
    border-style: none;
    margin-left: 10px;
    background-color: yellow;
    width: 80px;
    font-weight: bold;
    color: #162442;
    border-radius: 20px;
    cursor: pointer;
}